.todolist {
  position: relative;
  padding: 22px;
  background: #EBECF0;
  border-radius: 7px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.todolist .removeTodo {
  position: absolute;
  top: 0;
  right: 0;
  background: #8F8F8F;
  padding: 0;
  border-radius: 0 7px 0 5px;
}
.todolist .removeTodo:hover {
  background: #555;
}
.todolist .todoTitle {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}
.filterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterButtons button {
  margin: 0 4px;
}
.filterButtons button:hover {
  background: #1976D2;
  color: #fff;
}
.noTasks {
  font-style: italic;
}