.task {
  position: relative;
  padding: 5px 0 5px 3px;
  background: #fff;
  border-bottom: 1px solid #B4B4B4;
  border-radius: 4px;
  margin-bottom: 8px;
}

.task:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.iconDeleteTask {
  padding: 0;
  background: transparent;
  border: 0;
}

.iconDeleteTask svg {
  color: #555;
  font-size: 17px;
  line-height: 1;
  vertical-align: middle;
}

.iconDeleteTask svg:hover {
  color: red;
}

.iconDeleteTask svg.disabledIcon:hover {
  color: #555;
}

.iconDeleteTask .disabledIcon {
  opacity: 0.5;
}