/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

/*.active-filter {*/
/*  background-color: darkcyan;*/
/*  color: white;*/
/*}*/

.linear-progress {
  position: relative;
  height: 4px;
}
.linear-progress > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.circularProgress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
