.todoLists {
  max-width: calc(100% - 60px);
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  height: calc(100vh - 110px);
  padding: 50px;
  background-color: rgba(235,235,235,.7);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  margin: 80px auto 0 auto;
}
.firstTodolist {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 15px;
}
.addTodolist {
  padding: 4px 22px 12px 22px;
  background: #EBECF0;
  border-radius: 7px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1300px) {
  .todoLists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1000px) {
  .todoLists {
    grid-template-columns: 1fr 1fr;
  }
}